body {
    font: 14px sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('Background.jpg') no-repeat center center fixed;
    background-size: cover;
}

.signinform {
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #ccc;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 90%; 
    max-width: 400px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 0px 0 15px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

label {
    display: block;
    margin-bottom: 2px;
    font-size: 14px;
    font-weight: bold;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: auto;
    display: inline-flex;
    border-radius: 10px
}



.cancelbutton{
    background-color: rgb(202, 44, 44);  
    color: white;
}

.clearfix {
    display: flex;
    justify-content: space-between;
    
}


@media screen and (max-width: 600px) {
    .signinform {
        width: 95%; 
        padding: 15px;
    }

    input {
        padding: 8px;
    }

    button {
        padding: 12px 18px;
    }
}
